<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Days 73to79 - Virtual Reality Kit and App - DailyUI</title>
  <link rel='stylesheet' href='https://gitcdn.xyz/cdn/angular/bower-material/v1.1.18/angular-material.css'>
<link rel='stylesheet' href='https://material.angularjs.org/1.1.18/docs.css'>
<link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
</head>
<body ng-app="MyApp" ng-controller="AppCtrl">
  <!-- Your HTML content here -->
  
  <!--------  Today's theme --------->
  <div layout="row" class="theme" layout-align="center center">Day 73: Virtual Reality, Day 74 Download App, Day 75 Pre-Order, Day 76 Loading..., Day 77 Thank You, Day 78 Pending Invitation, Day 79 Itinerary</div>

  
  <!--------  Working area --------->
  <div class="working-area">
    
    <h2>Virtual Reality Kit and App</h2>
<!--     Day 73: Virtual Reality -->
    <div layout="row" layout-align="center center">
      <img src="https://images.unsplash.com/photo-1530825894095-9c184b068fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80"></div>
<!--     Day 74 Download App, Day 75 Pre-Order -->
    <div layout="row" layout-align="space-around center">
      <md-button flex="50" ng-click="showPreOrder($event)" class="submitButton">Pre-Order</md-button>
<!--     Day 76 Loading... Day 77 Thank You -->
      <md-button flex="50" ng-click="showAlert()" class="submitButton">Download App</md-button>
    </div>
    
<!--     Day 78 Pending Invitation -->
     <div layout="row" layout-align="center center" class="invitation">Download the app and Connect with the VR world</div>
    <div layout="row" layout-align="space-around center">
      <md-button class="invitationButtons" flex="50">Accept invitation</md-button>
      <md-button class="invitationButtons" flex="50">Decline</md-button>
    </div>
    
    
<!--     Day 79 Itinerary -->
    <div layout="row"><md-button flex="100" class="submitButton"><a href="https://codepen.io/EleftheriaBatsou/full/vgvXQK" target="_blank">Itinerary</md-button></div>
    
      
  </div>
  
  <!--------  Footer --------->
  <div id="footer_container">
    <div layout="row" layout-align="center center"><h3>Youtube tutorial <a href="https://youtu.be/1SQZl5raVvY" target="_blank"> here!</a></h3></div><br>
    <div layout="row" layout-align="center center">Created by Eleftheria</div>
    <div layout="row" layout-align="center center" class="footer">

        <!-- Linkedin -->
        <a href="https://www.linkedin.com/in/eleftheriabatsou/" target="_blank"><img src="https://image.flaticon.com/icons/svg/39/39714.svg" class="footer_image" alt="linkedin" title="linkedin"></a> ~
        <!-- Codepen -->
        <a href="https://codepen.io/EleftheriaBatsou" target="_blank"><img src="https://image.flaticon.com/icons/svg/51/51767.svg" class="footer_image" alt="codepen" title="codepen"></a> ~
        <!-- Youtube -->
        <a href="https://www.youtube.com/c/EleftheriaBatsou" target="_blank"><img src="https://image.flaticon.com/icons/svg/733/733646.svg" class="footer_image" alt="youtube" title="youtube"></a> ~
        <!-- Twitter -->
        <a href="https://twitter.com/BatsouElef" target="_blank"><img src="https://image.flaticon.com/icons/svg/8/8800.svg" class="footer_image" alt="twitter" title="twitter"></a> ~
        <!-- Github -->
        <a href="https://github.com/EleftheriaBatsou" target="_blank"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" class="footer_image" alt="github" title="github"></a> ~ 
        <!-- Instagram -->
        <a href="https://www.instagram.com/eleftheriabatsou/" target="_blank"><img src="https://image.flaticon.com/icons/svg/69/69366.svg" class="footer_image" alt="instagram" title="instagram"></a> ~
      <!-- Website -->
        <a href="http://www.eleftheriabatsou.com" target="_blank"><img src="https://image.flaticon.com/icons/svg/484/484101.svg" class="footer_image" alt="website" title="website"></a>
    </div>
   </div>
  
  <script type="text/ng-template" id="dialog.tmpl.html"><md-dialog aria-label="PreOrder">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Pre Order the newest Kit</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" style="width: auto;">
    <form name="preOrderForm">
      
      <div layout="row">
        <md-input-container class="md-block">
          <label>Name</label>
          <input required="" name="name" ng-model="project.Name">
          <div ng-messages="projectForm.Name.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
    
        <md-input-container class="md-block">
          <label>Last Name</label>
          <input required="" name="lastname" ng-model="project.lastName">
          <div ng-messages="projectForm.lastName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Email</label>
        <input required="" name="Email" ng-model="project.Email" minlength="4" maxlength="100" type="email">

        <div ng-messages="projectForm.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            Your email must be between 4 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox name="tos" ng-model="project.tos" required="">
          I accept the terms of service.
        </md-checkbox>
        <div ng-messages="projectForm.tos.$error" multiple="" md-auto-hide="false">
          <div ng-message="required">
            You must accept the terms of service before you can proceed.
          </div>
        </div>
      </md-input-container>

    <md-dialog-actions layout="row">
      <md-button type="submit" class="submitButton">Pre Order Now</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>  

</body>
</html>
<!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-messages.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://gitcdn.xyz/cdn/angular/bower-material/v1.1.18/angular-material.js'></script>
<script  src="./script.js"></script>

</body>
</html>