<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Days 80to93 - Full Form - DailyUI</title>
  <link rel='stylesheet' href='https://gitcdn.xyz/cdn/angular/bower-material/v1.1.18/angular-material.css'>
<link rel='stylesheet' href='https://material.angularjs.org/1.1.18/docs.css'>
<link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
</head>
<body ng-app="MyApp" ng-controller="MainCtrl as main">
  <!-- Your HTML content here -->
  
  <!--------  Today's theme --------->
  <div layout="row" class="theme" layout-align="center center">Day 80: Date Picker, Day 81: Status Update, Day 82: Form, Day 83: Button, Day 84: Badge, Day 85: Pagination, Day 86: Progress Bar, Day 87: Tooltip, Day 88: Avatar, Day 89: Terms of Service, Day 90: Create New, Day 91: Curated for You, Day 92:  F.A.Q., Day 93: Splash Screen</div>

  
  <!--------  Working area --------->
  <div class="working-area">
    <!-- Day 93: Splash Screen -->
    <div ng-if="!main.isContinue">
       <p style="padding:16px">Hello Dear User, <br><br> Click the button below and enjoy the experience.<br><br>Thank you</p>
       <div layout="row" layout-align="center center">  
        <img src="https://www.shareicon.net/download/2015/12/14/207880_face_300x300.png">
       </div>
       <div layout="row" layout-align="end center">
        <md-button ng-click="main.isContinue = true" class="submitButton">Continue to App</md-button>
       </div>     
    </div>
    
    <div ng-if="main.isContinue">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span flex="80">Hello Bob </span>
          <!-- Day 88: Avatar -->
          <span layout="row" layout-align="space-between center" flex=""><img src="https://www.shareicon.net/download/2015/12/14/207880_face_300x300.png"></span>
        </div>
     </md-toolbar>
      
     <md-toolbar class="md-tall md-accent">
      <div class="md-toolbar-tools">
        <span flex="60">You've been upgrated to Ninja. <br> <b>Congratulations</b></span>
          <!-- Day 84: Badge -->
          <span layout="row" layout-align="space-between center" flex=""><img class="badge" src="https://nssacademy.weebly.com/uploads/5/6/3/8/56384867/588881_orig.png"></span>
      </div>
     </md-toolbar>
      
      <div layout="row" layout-align="center center">So far your power is: 3200/5000</div>
      <!-- Day 86: Progress Bar -->
      <div layout="row">
        <md-slider flex="" md-discrete="" ng-model="main.project.rating1" ng-disabled="true" step="1" min="1" max="5000"></md-slider>
      </div>
      
      <md-toolbar>
        <!-- Day 81: Status Update-->
        <div class="md-toolbar-tools" style="background-color:lightblue">
          <md-input-container class="md-block">
            <md-switch class="md-primary" name="special" ng-model="project.special" required>
              Enable my special powers
            </md-switch>
            <div ng-messages="projectForm.special.$error" multiple>
              <div ng-message="required">
                You must enable special powers before you can proceed.
              </div>
            </div>
          </md-input-container>
        </div>
     </md-toolbar>
      
     <!-- Day 82: Form --> 
      <!-- Day 80: Date Picker -->
      <md-input-container class="md-block">
        <label>Date</label>
        <input type="date" ng-model="user.date">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Ninja's Nickname</label>
        <input ng-model="user.lastname">
      </md-input-container>
      
      <!-- Day 90: Create New -->
      <div layout="row" layout-align="center center">Create a <a href="https://www.youtube.com/c/EleftheriaBatsou" target="_blank">  new power</a></div>
      <!-- Day 91: Curated for You -->
      <div layout="row" layout-align="center center">or Customize  <a href="https://youtu.be/-LD_umOElpo" target="_blank"> your path</a>.</div>
      

      <!--  Day 89: Terms of Service -->
      <md-input-container class="md-block" style="padding:16px">
        <md-checkbox name="tos" ng-model="project.tos" required>
          I accept the terms of service.
        </md-checkbox>
        <div ng-messages="projectForm.tos.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            You must accept the terms of service before you can proceed.
          </div>
        </div>
        <a href="https://material.angularjs.org/latest/demo/tooltip" target="_blank">F.A.Q</a>
      </md-input-container>

      <div layout="row" layout-align="space-around center">
        <!-- Day 85: Pagination -->
        <md-button ng-click="main.isContinue = false">Back to splash screen</md-button>
        <!-- Day 83: Button -->
        <md-button class="md-fab submitButton">
          <md-tooltip
              md-direction="{{demo.tipDirection}}">
              Click me!
            </md-tooltip>
            Go</md-button>
      </div>
    </div>

  </div>
  
  <!--------  Footer --------->
  <div id="footer_container">
    <div layout="row" layout-align="center center"><h3>Youtube tutorial <a href="https://youtu.be/eZwWobDx7us" target="_blank"> here!</a></h3></div><br>
    <div layout="row" layout-align="center center">Created by Eleftheria</div>
    <div layout="row" layout-align="center center" class="footer">

        <!-- Linkedin -->
        <a href="https://www.linkedin.com/in/eleftheriabatsou/" target="_blank"><img src="https://image.flaticon.com/icons/svg/39/39714.svg" class="footer_image" alt="linkedin" title="linkedin"></a> ~
        <!-- Codepen -->
        <a href="https://codepen.io/EleftheriaBatsou" target="_blank"><img src="https://image.flaticon.com/icons/svg/51/51767.svg" class="footer_image" alt="codepen" title="codepen"></a> ~
        <!-- Youtube -->
        <a href="https://www.youtube.com/c/EleftheriaBatsou" target="_blank"><img src="https://image.flaticon.com/icons/svg/733/733646.svg" class="footer_image" alt="youtube" title="youtube"></a> ~
        <!-- Twitter -->
        <a href="https://twitter.com/BatsouElef" target="_blank"><img src="https://image.flaticon.com/icons/svg/8/8800.svg" class="footer_image" alt="twitter" title="twitter"></a> ~
        <!-- Github -->
        <a href="https://github.com/EleftheriaBatsou" target="_blank"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" class="footer_image" alt="github" title="github"></a> ~ 
        <!-- Instagram -->
        <a href="https://www.instagram.com/eleftheriabatsou/" target="_blank"><img src="https://image.flaticon.com/icons/svg/69/69366.svg" class="footer_image" alt="instagram" title="instagram"></a> ~
      <!-- Website -->
        <a href="http://www.eleftheriabatsou.com" target="_blank"><img src="https://image.flaticon.com/icons/svg/484/484101.svg" class="footer_image" alt="website" title="website"></a>
    </div>
   </div>
  
  <script type="text/ng-template" id="dialog.tmpl.html"><md-dialog aria-label="PreOrder">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Pre Order the newest Kit</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" style="width: auto;">
    <form name="preOrderForm">
      
      <div layout="row">
        <md-input-container class="md-block">
          <label>Name</label>
          <input required="" name="name" ng-model="project.Name">
          <div ng-messages="projectForm.Name.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Email</label>
        <input required="" name="Email" ng-model="project.Email" minlength="4" maxlength="100" type="email">

        <div ng-messages="projectForm.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            Your email must be between 4 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>

 

    <md-dialog-actions layout="row">
      <md-button type="submit" class="submitButton">Pre Order Now</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>  
  

</body>
</html>
<!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-messages.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://gitcdn.xyz/cdn/angular/bower-material/v1.1.18/angular-material.js'></script>
<script  src="./script.js"></script>

</body>
</html>